@charset "utf-8";
/* CSS Document */

/*COLORS

light blue: #00ccff
medium blue:#0099ff
dark blue: #0066ff
very light gray: #f7f7f7

*/

/*COMMON*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.5;
    color: #5f5f5f;
    padding: 25px;
}

/* --- HEADER ---- */

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(0, 204, 255, 0.7), rgba(0, 102, 255, 0.7)), url(img/loking_aeroplan.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
    position: relative;
    z-index: 6;
}

.logo-box {
    position: absolute;
    top:40px;
    left: 40px;
}

.logo {
    width: 100px;
}

.central-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.h1-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 50px;
}

.h1-main {
    display: block;
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: 10px;
    animation: moveInLeft 1s ease-out 1s;
}

.h1-sub {
    display: block;
    font-size: 0.5em;
    font-weight: 700;
    letter-spacing: 16.3px;
    animation: moveInRight 1s ease-out 1s;
    }
    
@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translate(-150px);
    }
    80%{
        transform: translate(15px)
    }
    100%{
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translate(150px);
    }
    80%{
        transform: translate(-15px)
    }
    100%{
        opacity: 1;
        transform: translate(0)
    }
}

.btn:link, .btn:visited, .btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 30px;
    display: inline-block;
    border-radius: 100px;
    border:none;
    cursor:pointer;
    transition: all 0.2s;
    color: #5f5f5f;

}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px)
}

.btn-white {
    background-color: #fff;
    font-size: 0.9em;
    letter-spacing: 5px;
}
/* --- NAVIGATION ---- */

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 70px;
  width: 70px;
  position: fixed;
  top: 60px;
  right: 60px;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  

.navigation__background {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  top: 65px;
  right: 65px;
  background-image: radial-gradient(#00ccff, #0066ff);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 300;
  padding: 10px 2px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 15px;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(10px); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 2.2rem; }

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2.4rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }

  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }

  .navigation__icon::before {
    top: -0.7rem; }

  .navigation__icon::after {
    top: 0.7rem; }

.navigation__button:hover .navigation__icon::before {
  top: -0.9; }

.navigation__button:hover .navigation__icon::after {
  top: 0.9; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

/*---MAIN CONTENT---*/

/* --- SECTION ABOUT---- */

.section-about {
    background-color: #f7f7f7;
    height: 105vh;
    padding: 9.5% 0;
    margin-top: -20vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
    z-index: 5;
}

.h2-primary {
    width: 50%;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(to right bottom, rgba(0, 204, 255, 0.7), rgba(0, 102, 255, 0.7));
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.5em;
    transition: all .2s;
}

.h2-primary:hover {
    transform: skewY(3deg) skewX(15deg) scale(1.1);
    text-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
}

.middle {
     margin: 0px auto 0px auto;
     text-align: center;
}

.mrg {
    margin-bottom: 4%;
}

.flex-box, .row-flex {
    display: flex;
    margin: auto;
    flex-wrap: nowrap;
    justify-content: center;
    width: 90%;  
}

.box-text {
    width: 40%;
}

.box-composition {
    width: 40%;
}

.h3-primary {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2%;
}

.paragraf {
    margin-bottom: 7%;
}

.btn-text:link, .btn-text:visited {
    color:#0066ff;
    padding: 20px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 3px;
    border-bottom: 1px #0066ff solid;
    transition: all 0.2s;
}

.btn-text:hover {
    cursor: pointer; 
    background: #0066ff;
    color:#fff;
    box-shadow: 0 10px 20px #000;
    transform: translateY(-3px);
}

.btn-text:active {
    transform: translateY(0px)
}

.composition {
    position: relative;
}

.composition_photo {
    width: 55%;
    box-shadow: 0 10px 30px rgba(3, 3, 3, 0.7);
    border-radius: 2px;
    position: absolute;
    outline-offset: 10px;
}

.composition:hover> .composition_photo:not(:hover) {
   transform:scale(0.9); 
}

.photo1 {
    top: -20px;
}

.photo2 {
    right: 5%;
    top: 20px;
}

.photo3 {
    left: 20%;
    top: 90px;
}

.photo1:hover, .photo2:hover, .photo3:hover {
    transform:scale(1.3) translateY(5px);
    outline: 10px solid #0099ff;    
}

.photo1:hover {
    z-index: 1;
}

.photo2:hover {
    z-index: 1;
}

/*---SECTION FEATURES---*/

.section-features {
    background-image: linear-gradient(to right bottom, rgba(0, 204, 255, 0.7), rgba(0, 102, 255, 0.7)), url(img/nat-4.jpg);
    background-size: cover;
    background-position: top;
    background-color: #f7f7f7;
    height: 105vh;
    padding: 13% 0;
    margin-top: -30vh;
    clip-path: polygon(0 0, 100% 20vh, 100% 100%, 0 75vh);
    -webkit-clip-path: polygon(0 0, 100% 20vh, 100% 100%, 0 75vh);
    z-index: 4;
}

.h2-features {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 0.5em;
    margin-bottom: 2%;
}

.row_aside {
    background-color: rgba(247, 247, 247, 0.8);
    border-radius: 3px;
}

.row_aside:not(:first-of-type) {
    margin-left: 5%; 
}

.features {
    padding: 2%;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.features:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    transform: translateY(-15px) scale(1.05);
}

.icon {
    margin-bottom: 15%;
}

/*---SECTION TOURS---*/

.section-tours {
    background-color: #f7f7f7;
    height: 115vh;
    padding: 16% 0;
    margin-top: -30vh;
    z-index: 3;
}

.row_tours {
    width: 25%;
    position: relative;
}

.card {
    perspective: 1500px;
    -moz-perspective: 1500px;
   
}

.card-side {
    width: 100%;
    height: 500px;
    transition: all 1.5s ease;
    position: absolute;
    top: 0px;
    left:0px;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .15);
}

.back {
    transform: rotateY(180deg);
}

.card:hover .front {
    transform: rotateY(-180deg)
}

.card:hover .back {
    transform: rotateY(0deg)
}

.two {
    background-image: linear-gradient(to right bottom, rgb(255, 206, 0), rgb(255, 69, 0));
}

.four {
    background-image: linear-gradient(to right bottom, rgb(0, 204, 255), rgb(0, 102, 255));
}

.six {
    background-image: linear-gradient(to right bottom, rgb(196, 255, 0), rgb(0, 255, 20));
}   

.c-picture {
    background-size: cover;
    height: 230px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);
}
.p-first {
    background-image:linear-gradient(to right bottom, rgba(255, 206, 0, 0.6), rgba(255, 69, 0, 0.6)), url(img/nat-5.jpg);
}

.p-second {
    background-image: linear-gradient(to right bottom, rgba(0, 204, 255, 0.6), rgba(0, 102, 255, 0.6)), url(img/nat-6.jpg);
}

.p-third {
    background-image: linear-gradient(to right bottom, rgba(196, 255, 0, 0.6), rgba(0, 255, 20, 0.6)), url(img/nat-8.jpg);
}

.c-heading {
    font-size: 2em;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff;
    position: absolute;
    top: 120px;
    left: 20px;
    width: 75%;
}
    
.navigation__link, .h1-main, .h1-sub, .form_radio-button, .span-one, .span-two, .span-three { 
    padding: 10px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.span-one {
    background-image:linear-gradient(to right bottom, rgba(255, 206, 0, 0.8), rgba(255, 69, 0, 0.8));
}

.span-two {
    background-image: linear-gradient(to right bottom, rgba(0, 204, 255, 0.8), rgba(0, 102, 255, 0.8));
}

.span-three {
    background-image: linear-gradient(to right bottom, rgba(196, 255, 0, 0.8), rgba(0, 255, 20, 0.8));
}

ul {
    list-style: none;
    width: 70%;
    margin: auto;
}

li {
    text-align: center;
    font-size: 1.1em;
    padding: 10px;
}

li:not(:last-child){
    border-bottom: 1px solid grey;
}

.card-action {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.card-action {
    color: #fff;
    width: 100%;
}

.price_only {
   font-size: 1.5em; 
}

.price_value {
    font-size: 4em;
    font-weight: 100;
    margin-bottom: 30%;
}

.btn-blue {
    background-color: #0099ff;
    font-size: 0.9em;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 5px;
}

.btn-mrg {
    margin-top: 31%;
}

.btn-blue:link, .btn-blue:visited {
    color: #ffffff;
}

/*--- SECTION BOOKING ---*/

.section-booking {
    background-image: linear-gradient(to right bottom, rgb(0, 204, 255), rgb(0, 102, 255));
    height: 95vh;
    padding: 10% 0;
    z-index: 4;
}

.boking {
    width: 90%;
    height: auto;
    padding: 3%;
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%,  rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.boking_form {
   
}

.form {
    
}

.form_group:not(:last-child) {
    margin-bottom: 20px;
}

.form_input {
    font-size: 1.5em;
    padding: 15px 20px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 40%;
    display: block;
    transition: all 0.3;
}

.form_input:focus {
    outline: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #0066ff;
}

.form_input:focus:invalid {
    border-bottom: 3px solid #c32222;
}

.form_input:placeholder-shown+.form_label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-55px);
}

.form_label {
    font-size: 1em;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 10px;
    display: block;
    transition: all 0.3s;
}

.form_radio-group {
    width: 19%;
    display: inline-block;
    margin-bottom: 2%;
}

.form_radio-input {
  opacity: 0;
  cursor: pointer; 
}

.form_radio-label {
  font-size: 1.1em;
  cursor: pointer;
  position: relative;
  padding-left: 35px; 
}

.form_radio-button {
  height: 30px;
  width: 3px;
  border: 5px solid #0066ff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -4px; 
}

  .form_radio-button::after {
    content: "";
    display: block;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0066ff;
    opacity: 0;
    transition: opacity .2s; 
}

.form_radio-input:checked ~ .form_radio-label .form_radio-button::after {
  opacity: 1; }


/* --- FOOTER ---- */


footer{
    background-color: #333;
    box-sizing: border-box;
    clear: both;
    width: 100%;
    height: 20vh;
}

footer p {
    margin-left: 10%;
    margin-top: 4%;
    font-size: 1.2em;
}

footer p, .media {
    display: inline-block;
}

.media {
    float: right;
    padding-right: 10%;
    padding-top: 4%;
}

.social {
     width: 36px;
     margin-left: 20px;
}



